.pipical-container {
	margin: 2em auto;
}
table.pipical-table {
	border-collapse: collapse;
}

.pipical-month, .pipical-schoolWeek, .pipical-week, .pipical-day {
	border: 1px dotted #ccc;
	font-family: Calibri, monospace;
	font-size: 24pt;
	height: 1.5em;
	margin:0;
	padding: .5em;
	vertical-align: middle;
	text-align: center;
	width: 1.5em;
}
.pipical-month {
	font-weight: normal;
}

.pipical-day {
	border-color: #aaa;
}
.pipical-schoolWeek, .pipical-week {
	font-size: 10pt;
}

.pipical-weekend {
	background-color: #eee;
}

.pipical-public-holiday {
	background-color: #eee;
	font-weight: bold;
}
