.pipical-container {
	margin: 2em auto;
}
table.pipical-table {
	border-collapse: collapse;
}

.pipical-month, .pipical-schoolWeek, .pipical-week, .pipical-day {
	font-family: Calibri, monospace;
	font-size: 24pt;
	height: 1.5em;
	margin:0;
	padding: .5em;
	vertical-align: middle;
	text-align: center;
	width: 1.5em;
}
.pipical-month {
	font-weight: normal;
}
.pipical-month span.pipical-month-month {
	display: inline-block;
	transform: rotate(-90deg);
}
.pipical-month-year {
    color: #eee;
    font-size: 12pt;
}
.pipical-month-month:hover .pipical-month-year {
    color: #f3a;
}
.pipical-schoolWeek, .pipical-week {
	font-size: 10pt;
}

.pipical-weekend {
	background-color: #eee;
}

.pipical-public-holiday {
	background-color: #eee;
	font-weight: bold;
}

.pipical-out {
	color: #ccc;
}

tbody .pipical-day {
	border: 1px dotted #ccc;
}

/*
 * Testing CSS
 */
tbody .pipical-day:first-child{
	border: 1px dotted #ccc;
}

tbody tr td:nth-of-type(3) {
	border-left: 2px solid #bbb;
}
tbody tr td:last-of-type {
	border-right: 2px solid #bbb;
}

tbody tr.pipical-month-start .pipical-day {
	border-top: 2px solid #bbb;
}
tbody tr.pipical-month-end .pipical-day {
	border-bottom: 2px solid #bbb;
}
